<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Marker definitions. -->
   <extension
         id="switchYardBreakpointMarker"
         name="SwitchYard Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.jdt.debug.javaBreakpointMarker">
      </super>
      <attribute
            name="switchYardServiceBreakpoint.aspect">
      </attribute>
      <attribute
            name="switchYardServiceBreakpoint.trigger">
      </attribute>
      <attribute
            name="switchYardServiceBreakpoint.consumer.uri">
      </attribute>
      <attribute
            name="switchYardServiceBreakpoint.consumer.name">
      </attribute>
      <attribute
            name="switchYardServiceBreakpoint.provider.uri">
      </attribute>
      <attribute
            name="switchYardServiceBreakpoint.provider.name">
      </attribute>
   </extension>
   <extension
         id="switchYardServiceBreakpointMarker"
         name="SwitchYard Service Breakpoint"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.switchyard.tools.ui.debug.switchYardBreakpointMarker">
      </super>
   </extension>
   <extension
         id="switchYardTransformerBreakpointMarker"
         name="SwitchYard Transformer Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.switchyard.tools.ui.debug.switchYardBreakpointMarker">
      </super>
   </extension>
   <extension
         id="switchYardValidatorBreakpointMarker"
         name="SwitchYard Validator Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.switchyard.tools.ui.debug.switchYardBreakpointMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="SwitchYard Breakpoints">
         <markerTypeReference
               id="org.switchyard.tools.ui.debug.switchYardBreakpointMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.switchyard.tools.ui.debug.switchYardServiceBreakpointMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.switchyard.tools.ui.debug.switchYardTransformerBreakpointMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.switchyard.tools.ui.debug.switchYardValidatorBreakpointMarker">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>
   <!-- Breakpoint definitions. -->
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.switchyard.tools.ui.debug.ServiceInteractionBreakpoint"
            id="breakpoint.service"
            markerType="org.switchyard.tools.ui.debug.switchYardServiceBreakpointMarker"
            name="SwitchYard Service Breakpoint">
      </breakpoint>
      <breakpoint
            class="org.switchyard.tools.ui.debug.TransformSequenceBreakpoint"
            id="breakpoint.transform"
            markerType="org.switchyard.tools.ui.debug.switchYardTransformerBreakpointMarker"
            name="SwitchYard Transform Breakpoint">
      </breakpoint>
      <breakpoint
            class="org.switchyard.tools.ui.debug.ValidateHandlerBreakpoint"
            id="breakpoint.validate"
            markerType="org.switchyard.tools.ui.debug.switchYardValidatorBreakpointMarker"
            name="SwitchYard Validate Breakpoint">
      </breakpoint>
   </extension>
   <!-- Breakpoint importers. -->
   <extension
         point="org.eclipse.debug.ui.detailPaneFactories">
      <detailFactories
            class="org.switchyard.tools.ui.debug.BreakpointDetailPaneFactory"
            id="org.switchyard.tools.ui.debug.breakpointDetailFactory">
         <enablement>
          <with
                variable="selection">
             <count
                   value="1">
             </count>
             <iterate>
                <or>
                   <instanceof
                         value="org.switchyard.tools.ui.debug.ServiceInteractionBreakpoint">
                   </instanceof>
                   <instanceof
                         value="org.switchyard.tools.ui.debug.TransformSequenceBreakpoint">
                   </instanceof>
                   <instanceof
                         value="org.switchyard.tools.ui.debug.ValidateHandlerBreakpoint">
                   </instanceof>
                </or>
             </iterate>
          </with>
         </enablement>
      </detailFactories>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.switchyard.tools.ui.debug.SwitchYardDebugModelPresentation"
            id="org.switchyard.tools.ui.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.switchyard.tools.ui.debug.DelegatingJavaBreakpoint"
            class="org.switchyard.tools.ui.debug.SwitchYardDebugAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.IBreakpointTypeCategory">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.switchyard.tools.ui.debug.structure.SwitchYardContext"
            class="org.switchyard.tools.ui.debug.SwitchYardDebugAdapterFactory">
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory">
         </adapter>
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IColumnPresentationFactory">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.Contract"
            class="org.switchyard.tools.ui.debug.SwitchYardDebugAdapterFactory">
         <adapter
               type="org.switchyard.tools.ui.debug.ServiceInteractionBreakpoint">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.Composite"
            class="org.switchyard.tools.ui.debug.SwitchYardDebugAdapterFactory">
         <adapter
               type="org.switchyard.tools.ui.debug.TransformSequenceBreakpoint">
         </adapter>
         <adapter
               type="org.switchyard.tools.ui.debug.ValidateHandlerBreakpoint">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.core.logicalStructureTypes">
      <logicalStructureType
            class="org.switchyard.tools.ui.debug.structure.SwitchYardLogicalStructureTypeDelegate"
            description="SwitchYard"
            id="org.switchyard.tools.ui.debug.logicalStructureTypeDelegate"
            modelIdentifier="org.eclipse.jdt.debug">
      </logicalStructureType>
   </extension>
   <!-- SwitchYard Step support -->
   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            defaultHandler="org.switchyard.tools.ui.debug.SwitchYardStepCommandHandler"
            description="Resume execution and break at the next SwitchYard system bus processor."
            id="org.switchyard.tools.ui.debug.command.RunToBusProcessor"
            name="Run To Next SwitchYard Bus Processor">
      </command>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key
            sequence="M2+F6"
            contextId="org.eclipse.debug.ui.debugging"
            commandId="org.switchyard.tools.ui.debug.command.RunToBusProcessor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.run?before=emptyStepGroup">
         <separator
               name="SwitchYard">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.run?after=SwitchYard">
         <command
               commandId="org.switchyard.tools.ui.debug.command.RunToBusProcessor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <systemTest
                        property="org.eclipse.jdt.debug.ui.instanceof.IJavaStackFrame"
                        value="true">
                  </systemTest>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Service Breakpoint Properties"
            class="org.switchyard.tools.ui.debug.SwitchYardBreakpointPage$ServiceInteractionBreakpointPage"
            id="org.switchyard.tools.ui.debug.page.property.breakpoint.service">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.switchyard.tools.ui.debug.ServiceInteractionBreakpoint">
               </instanceof>
               <adapt
                     type="org.switchyard.tools.ui.debug.ServiceInteractionBreakpoint">
               </adapt>
            </or>
         </enabledWhen>
      </page>
      <page
            name="Transform Breakpoint Properties"
            class="org.switchyard.tools.ui.debug.SwitchYardBreakpointPage$TransformSequenceBreakpointPage"
            id="org.switchyard.tools.ui.debug.page.property.breakpoint.transform">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.switchyard.tools.ui.debug.TransformSequenceBreakpoint">
               </instanceof>
               <adapt
                     type="org.switchyard.tools.ui.debug.TransformSequenceBreakpoint">
               </adapt>
            </or>
         </enabledWhen>
      </page>
      <page
            name="Validate Breakpoint Properties"
            class="org.switchyard.tools.ui.debug.SwitchYardBreakpointPage$ValidateHandlerBreakpointPage"
            id="org.switchyard.tools.ui.debug.page.property.breakpoint.validate">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.switchyard.tools.ui.debug.ValidateHandlerBreakpoint">
               </instanceof>
               <adapt
                     type="org.switchyard.tools.ui.debug.ValidateHandlerBreakpoint">
               </adapt>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.switchyard.tools.ui.debug.context"
            name="SwitchYard Context"
            parentId="org.eclipse.jdt.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            autoOpen="true"
            contextId="org.switchyard.tools.ui.debug.context"
            viewId="org.switchyard.tools.ui.debug.view.switchYardContext">
      </contextViewBinding>
      <perspective
            perspectiveId="org.eclipse.debug.ui.DebugPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="org.switchyard.tools.ui.debug.structure.SwitchYardContextView"
            icon="icons/switchyard_icon_16px.png"
            id="org.switchyard.tools.ui.debug.view.switchYardContext"
            name="SwitchYard Context"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="org.switchyard.tools.ui.debug.context"
            debugModelId="org.eclipse.jdt.debug">
      </modelContextBinding>
   </extension>
</plugin>
