<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-bean:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.bean.BeanPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-bpm:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.bpm.BPMPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-config:switchyard:2.0"
            class="org.switchyard.tools.models.switchyard1_0.switchyard.SwitchyardPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-clojure:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.clojure.ClojurePackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-rules:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.rules.RulesPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-soap:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.soap.SOAPPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-config:transform:2.0"
            class="org.switchyard.tools.models.switchyard1_0.transform.TransformPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-config:validate:2.0"
            class="org.switchyard.tools.models.switchyard1_0.validate.ValidatePackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.CamelPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="camel"
            class="org.switchyard.tools.models.switchyard1_0.camel.util.CamelResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="http://camel.apache.org/schema/spring"
            class="org.switchyard.tools.models.switchyard1_0.spring.SpringPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-jca:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.jca.JcaPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-resteasy:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.resteasy.ResteasyPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="resteasy"
            class="org.switchyard.tools.models.switchyard1_0.resteasy.util.ResteasyResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-http:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.http.HttpPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="http"
            class="org.switchyard.tools.models.switchyard1_0.http.util.HttpResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-core:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.core.CorePackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="core"
            class="org.switchyard.tools.models.switchyard1_0.camel.core.util.CoreResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-amqp:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.amqp.AmqpPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="amqp"
            class="org.switchyard.tools.models.switchyard1_0.camel.amqp.util.AmqpResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-atom:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.atom.AtomPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="atom"
            class="org.switchyard.tools.models.switchyard1_0.camel.atom.util.AtomResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-file:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.file.FilePackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="file"
            class="org.switchyard.tools.models.switchyard1_0.camel.file.util.FileResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-ftp:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.ftp.FtpPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="ftp"
            class="org.switchyard.tools.models.switchyard1_0.camel.ftp.util.FtpResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-jms:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.jms.JmsPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="jms"
            class="org.switchyard.tools.models.switchyard1_0.camel.jms.util.JmsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-jpa:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.jpa.JpaPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="jpa"
            class="org.switchyard.tools.models.switchyard1_0.camel.jpa.util.JpaResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-mail:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.mail.MailPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="mail"
            class="org.switchyard.tools.models.switchyard1_0.camel.mail.util.MailResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-netty:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.netty.NettyPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="netty"
            class="org.switchyard.tools.models.switchyard1_0.camel.netty.util.NettyResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-quartz:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.quartz.QuartzPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="quartz"
            class="org.switchyard.tools.models.switchyard1_0.camel.quartz.util.QuartzResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-sql:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.sql.SqlPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="sql"
            class="org.switchyard.tools.models.switchyard1_0.camel.sql.util.SqlResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-rss:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.rss.RssPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-camel-sap:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.sap.SapPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="rss"
            class="org.switchyard.tools.models.switchyard1_0.camel.rss.util.RssResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated switchyard_1.0 -->
      <package
            uri="urn:switchyard-component-camel-mqtt:config:2.0"
            class="org.switchyard.tools.models.switchyard1_0.camel.mqtt.MqttPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated switchyard_1.0 -->
      <parser
            type="mqtt"
            class="org.switchyard.tools.models.switchyard1_0.camel.mqtt.util.MqttResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="sap"
            class="org.switchyard.tools.models.switchyard1_0.camel.sap.util.SapResourceFactoryImpl"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.switchyard.tools.models.switchyard1_0.switchyard.util.SwitchyardResourceFactoryImpl"
            contentTypeIdentifier="org.switchyard.content-type.1.x">
      </parser>
   </extension>

    <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            id="org.switchyard.content-type.1.x"
            name="SwitchYard 1.x XML File"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2"
               plugin="org.eclipse.core.contenttype">
            <parameter
                  name="element"
                  value="{urn:switchyard-config:switchyard:1.0}switchyard">
            </parameter>
            <parameter
                  name="element"
                  value="{urn:switchyard-config:switchyard:1.1}switchyard">
            </parameter>
            <parameter
                  name="element"
                  value="{urn:switchyard-config:switchyard:2.0}switchyard">
            </parameter>
         </describer>
      </content-type>
 </extension>
</plugin>
