<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-bean:config:1.0"
            class="org.switchyard.tools.models.switchyard1_0.bean.BeanPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://docs.oasis-open.org/ns/opencsa/sca/200903"
            class="org.open.oasis.docs.ns.opencsa.sca.bpel.BPELPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-bpm:config:1.0"
            class="org.switchyard.tools.models.switchyard1_0.bpm.BPMPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-common-rules:config:1.0"
            class="org.switchyard.tools.models.switchyard1_0.commonrules.CommonRulesPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-config:switchyard:1.0"
            class="org.switchyard.tools.models.switchyard1_0.switchyard.SwitchyardPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-clojure:config:1.0"
            class="org.switchyard.tools.models.switchyard1_0.clojure.ClojurePackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-hornetq:config:1.0"
            class="org.switchyard.tools.models.switchyard1_0.hornetq.HornetQPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-rules:config:1.0"
            class="org.switchyard.tools.models.switchyard1_0.rules.RulesPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-component-soap:config:1.0"
            class="org.switchyard.tools.models.switchyard1_0.soap.SOAPPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-config:transform:1.0"
            class="org.switchyard.tools.models.switchyard1_0.transform.TransformPackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:switchyard-config:validate:1.0"
            class="org.switchyard.tools.models.switchyard1_0.validate.ValidatePackage"
            genModel="model/switchyard_1.0.genmodel"/>
   </extension>

</plugin>
