<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.w3.org/2005/08/addressing"
            class="org.eclipse.soa.sca.core.model.addressing.AddressingPackage"
            genModel="model/addressing.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="addressing"
            class="org.eclipse.soa.sca.core.model.addressing.util.AddressingResourceFactoryImpl"/>
   </extension>
   
    <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.w3.org/ns/wsdl-instance"
            class="org.eclipse.soa.sca.core.model.instance.InstancePackage"
            genModel="model/instance.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="instance"
            class="org.eclipse.soa.sca.core.model.instance.util.InstanceResourceFactoryImpl"/>
   </extension>
   
    <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schemas.xmlsoap.org/ws/2004/09/policy"
            class="org.eclipse.soa.sca.core.model.policy.PolicyPackage"
            genModel="model/policy.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="policy"
            class="org.eclipse.soa.sca.core.model.policy.util.PolicyResourceFactoryImpl"/>
   </extension>

</plugin>
