<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="switchYardComponent" name="SwitchYardComponent" schema="schema/switchYardComponent.exsd"/>
   <extension-point id="repositorySupport" name="RepositorySupport" schema="schema/repositorySupport.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.switchyard.tools.ui"
            name="SwitchYard">
      </category>
      <wizard
            category="org.switchyard.tools.ui"
            class="org.switchyard.tools.ui.wizards.NewSwitchYardProjectWizard"
            descriptionImage="icons/switchyard_logo_200px.png"
            icon="icons/switchyard_icon_16px.png"
            id="org.switchyard.tools.ui.wizards.NewSwitchYardProjectWizard"
            name="SwitchYard Project"
            project="true">
         <description>Create a new SwitchYard project.</description>
      </wizard>
      <!--
      <wizard
            category="org.switchyard.tools.ui"
            class="org.switchyard.tools.ui.wizards.NewBeanServiceWizard"
            descriptionImage="icons/switchyard_logo_200px.png"
            icon="icons/switchyard_icon_16px.png"
            id="org.switchyard.tools.ui.wizards.NewBeanServiceWizard"
            name="SwitchYard Bean Component">
         <description>Create a new SwitchYard Bean service.</description>
      </wizard>
      -->
      <wizard
            category="org.switchyard.tools.ui"
            class="org.switchyard.tools.ui.wizards.NewServiceTestClassWizard"
            descriptionImage="icons/switchyard_logo_200px.png"
            icon="icons/switchyard_icon_16px.png"
            id="org.switchyard.tools.ui.wizards.NewServiceTestWizard"
            name="SwitchYard Service Test">
         <description>Create a new SwitchYard service test.</description>
      </wizard>
      <wizard
            category="org.switchyard.tools.ui"
            class="org.switchyard.tools.ui.wizards.Java2WSDLWizard"
            descriptionImage="icons/switchyard_logo_200px.png"
            icon="icons/switchyard_icon_16px.png"
            id="org.switchyard.tools.ui.wizards.Java2WSDLWizard"
            name="WSDL File from Java">
         <description>Create a WSDL file from a Java class or interface.</description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.switchyard.tools.ui"
            class="org.switchyard.tools.ui.wizards.WSDL2JavaWizard"
            descriptionImage="icons/switchyard_logo_200px.png"
            icon="icons/switchyard_icon_16px.png"
            id="org.switchyard.tools.ui.wizards.WSDL2JavaWizard"
            name="Java Files from WSDL">
         <description>Create a Java interface from a WSDL file.</description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <!--
   <extension
         point="org.eclipse.m2e.core.indexes">
      <index
            indexId="JBOSS_NEXUS"
            isShort="true"
            repositoryUrl="http://repository.jboss.org/nexus/content/groups/public">
      </index>
   </extension>
   -->
   <extension
         point="org.eclipse.wst.common.project.facet.core.presets">
      <dynamic-preset
            id="preset.switchyard.basic">
         <factory
               class="org.switchyard.tools.ui.facets.SwitchYardBasicPresetFactory">
         </factory>
      </dynamic-preset>
      <static-preset
            extends="preset.switchyard.basic"
            id="preset.switchyard.jar">
         <description>
            Project facet set for SwitchYard JAR applications.
         </description>
         <label>
            SwitchYard Java Application
         </label>
         <facet
               id="jst.utility"
               version="1.0">
         </facet>
      </static-preset>
   </extension>

   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="switchyard.core">
         <default-version
               version="1.0">
         </default-version>
    	 <property name="hide.version" value="true"/>
         <description>
            SwitchYard functionality.
         </description>
         <label>
            SwitchYard
         </label>
      </project-facet>
      <project-facet-version
            facet="switchyard.core"
            version="1.0">
         <constraint>
         	<and>
	            <requires
	                  facet="jst.java"
	                  version="[6.0">
	            </requires>
	            <!-- currently only support maven builds -->
	            <requires
                   facet="jboss.m2"
                   soft="true"
                   version="*">
	            </requires>
            </and>
         </constraint>
      </project-facet-version>
      <action
            facet="switchyard.core"
            id="switchyard.core.install"
            type="install"
            version="1.0">
         <delegate
               class="org.switchyard.tools.ui.facets.SwitchYardFacetInstallActionDelegate">
         </delegate>
         <config-factory
               class="org.switchyard.tools.ui.facets.SwitchYardFacetInstallConfigFactory">
         </config-factory>
      </action>
      <action
            facet="switchyard.core"
            id="switchyard.core.uninstall"
            type="uninstall"
            version="1.0">
         <delegate
               class="org.switchyard.tools.ui.facets.SwitchYardFacetUnInstallActionDelegate">
         </delegate>
      </action>
   </extension>

  <extension point="org.eclipse.wst.common.project.facet.ui.images">
    <image 
      facet="switchyard.core" 
      path="icons/switchyard_icon_16px.png"/>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.ui.wizardPages">
    <wizard-pages action="switchyard.core.install">
      <page class="org.switchyard.tools.ui.facets.SwitchYardFacetInstallWizardPage"/>
    </wizard-pages>
  </extension>
  <extension
        point="org.eclipse.wst.common.project.facet.core.runtimes">
     <supported>
        <facet
              id="switchyard.core"
              version="1.0">
        </facet>
        <runtime-component
              any="true">
        </runtime-component>
     </supported>
  </extension>
  <!--
  <extension
        point="org.eclipse.wst.common.project.facet.core.defaultFacets">
     <default-facets>
        <facet
              id="switchyard.core"
              version="1.0">
        </facet>
        <runtime-component
              id="org.jboss.ide.eclipse.as.runtime.component"
              version="[7.0">
        </runtime-component>
     </default-facets>
  </extension>
  -->

  <extension
        point="org.eclipse.wst.server.core.moduleTypes">
     <moduleType
           id="switchyard.core"
           name="SwitchYard Application">
     </moduleType>
  </extension>
  <extension
        point="org.eclipse.wst.common.modulecore.componentimpl">
     <componentimpl
           typeID="switchyard.core"
           class="org.eclipse.jst.j2ee.componentcore.J2EEModuleVirtualComponent">
     </componentimpl>
  </extension>
  <extension
        point="org.eclipse.wst.server.core.moduleFactories">
     <moduleFactory
           class="org.eclipse.jst.jee.internal.deployables.JEEDeployableFactory"
           id="switchyard.deployable"
           order="10"
           projects="true">
        <moduleType
              types="switchyard.core"
              versions="1.0">
        </moduleType>
     </moduleFactory>
  </extension>
  <extension
        point="org.eclipse.wst.server.core.moduleArtifactAdapters">
     <moduleArtifactAdapter
           class="org.switchyard.tools.ui.modules.SwitchYardModuleArtifactAdapterDelegate"
           id="org.switchyard.tools.ui.moduleArtifactAdapter1">
          <enablement>
             <with
                   variable="selection">
                <adapt
                      type="org.eclipse.core.resources.IProject">
                   <test
                         forcePluginActivation="true"
                         property="org.eclipse.wst.common.project.facet.core.projectFacet"
                         value="switchyard.core">
                   </test>
                </adapt>
             </with></enablement>
     </moduleArtifactAdapter>
  </extension>
  <extension point="org.eclipse.wst.server.ui.serverImages">
    <image 
      id="org.switchyard.tools.switchyard.core"
      typeIds="switchyard.core" 
      icon="icons/switchyard_icon_16px.png"/>
  </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           category="org.eclipse.wst.common.project.facet.ui.FacetsPropertyPage"
           class="org.switchyard.tools.ui.properties.SwitchYardSettingsPropertyPage"
           id="org.switchyard.tools.ui.configuration.page"
           name="SwitchYard Settings"
           selectionFilter="single">
        <enabledWhen>
           <adapt
                 type="org.eclipse.core.resources.IProject">
              <test
                    property="org.eclipse.wst.common.project.facet.core.projectFacet"
                    value="switchyard.core">
              </test>
           </adapt>
        </enabledWhen>
     </page>
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="true"
           id="org.switchyard.tools.ui.configuration.contribution"
           objectClass="org.eclipse.core.resources.IProject">
        <visibility>
           <objectState
                 name="projectNature"
                 value="org.eclipse.m2e.core.maven2Nature">
           </objectState>
        </visibility>
        <action
              class="org.switchyard.tools.ui.actions.SwitchYardSettingsAction"
              enablesFor="1"
              id="org.switchyard.tools.ui.configuration.action.settings"
              label="SwitchYard Capabilities..."
              menubarPath="org.eclipse.ui.projectConfigure/additions">
        </action>
     </objectContribution>
     <objectContribution
           adaptable="true"
           id="org.switchyard.tools.ui.project.contribution"
           objectClass="org.eclipse.core.resources.IProject">
        <enablement>
           <adapt
                 type="org.eclipse.core.resources.IProject">
              <test
                    property="org.eclipse.wst.common.project.facet.core.projectFacet"
                    value="switchyard.core">
              </test>
           </adapt>
        </enablement>
        <menu
              id="org.switchyard.tools.ui.switchyard.menu"
              label="SwitchYard"
              path="additions">
           <groupMarker
                 name="additions">
           </groupMarker>
           <separator
                 name="capabilities">
           </separator>
        </menu>
        <action
              class="org.switchyard.tools.ui.actions.SwitchYardSettingsAction"
              enablesFor="1"
              id="org.switchyard.tools.ui.configuration.action.settings2"
              label="Configure Capabilities..."
              menubarPath="org.switchyard.tools.ui.switchyard.menu/capabilities">
        </action>
        <action
              class="org.switchyard.tools.ui.actions.AddArtifactReferenceAction"
              enablesFor="1"
              id="org.switchyard.tools.ui.configuration.action.addArtifactReference"
              label="Add Artifact Reference..."
              menubarPath="org.switchyard.tools.ui.switchyard.menu/additions">
        </action>
     </objectContribution>
     <objectContribution
           id="org.switchyard.tools.ui.switchyard.contribution"
           objectClass="org.switchyard.tools.ui.explorer.ISwitchYardRootNode">
        <action
              class="org.switchyard.tools.ui.actions.SwitchYardSettingsAction"
              enablesFor="1"
              id="org.switchyard.tools.ui.configuration.action.settings2"
              label="Configure Capabilities..."
              menubarPath="org.eclipse.ui.projectConfigure">
        </action>
        <action
              class="org.switchyard.tools.ui.actions.AddArtifactReferenceAction"
              enablesFor="1"
              id="org.switchyard.tools.ui.configuration.action.addArtifactReference"
              label="Add Artifact Reference..."
              menubarPath="org.switchyard.tools.ui.switchyard">
        </action>
     </objectContribution>
     <objectContribution
           id="org.switchyard.tools.ui.artifacts.contribution"
           objectClass="org.switchyard.tools.ui.explorer.IArtifactsNode">
        <action
              class="org.switchyard.tools.ui.actions.AddArtifactReferenceAction"
              enablesFor="1"
              id="org.switchyard.tools.ui.configuration.action.addArtifactReference"
              label="Add Artifact Reference..."
              menubarPath="org.switchyard.tools.ui.switchyard">
        </action>
     </objectContribution>
     <objectContribution
           adaptable="true"
           id="org.switchyard.tools.ui.configuration.contribution2"
           objectClass="org.eclipse.core.resources.IProject">
          <enablement>
          		<and>
		         <instanceof
		               value="org.eclipse.core.resources.IProject">
		         </instanceof>
               <test
		             forcePluginActivation="true"
                     property="org.switchyard.tools.ui.isOpenShiftProject">
               </test>
               <not>
		           <adapt
		                 type="org.eclipse.core.resources.IProject">
		              <test
		                    property="org.eclipse.wst.common.project.facet.core.projectFacet"
		                    value="switchyard.core">
		              </test>
		           </adapt>
               </not>
		      </and>
          </enablement>
        <visibility>
	           <objectState
	                 name="projectNature"
	                 value="org.eclipse.m2e.core.maven2Nature">
	           </objectState>
        </visibility>
        <action
              class="org.switchyard.tools.ui.actions.ConvertWarToJarAction"
              enablesFor="1"
              id="org.switchyard.tools.ui.configuration.action.war2jar"
              label="Update OpenShift Project for SwitchYard..."
              menubarPath="org.eclipse.ui.projectConfigure/additions">
        </action>
     </objectContribution>
  </extension>
  
   <!-- Project Explorer View content -->
	<extension
      point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="org.switchyard.tools.ui.explorer.SwitchYardExplorerContentProvider"
          icon="icons/switchyard_icon_16px.png"
          id="org.switchyard.tools.ui.explorer.content"
          labelProvider="org.switchyard.tools.ui.explorer.SwitchYardExplorerLabelProvider"
          name="SwitchYard"
          priority="normal">
       <triggerPoints>
           <adapt
                 type="org.eclipse.core.resources.IProject">
              <test
                    property="org.eclipse.wst.common.project.facet.core.projectFacet"
                    value="switchyard.core">
              </test>
           </adapt>
       </triggerPoints>
       <possibleChildren>
           <instanceof
                 value="org.switchyard.tools.ui.explorer.ISwitchYardNode">
           </instanceof>
       </possibleChildren>
       <commonSorter
             class="org.switchyard.tools.ui.explorer.SwitchYardViewerSorter">
       </commonSorter>
       <!--
       <commonWizard
             menuGroupId="switchyard.group"
             type="new"
             wizardId="org.switchyard.tools.ui.wizards.NewBeanServiceWizard">
          <enablement>
             <or>
                <instanceof
                      value="org.eclipse.core.resources.IProject">
                </instanceof>
                <instanceof
                      value="org.switchyard.tools.ui.explorer.ISwitchYardRootNode">
                </instanceof>
                <instanceof
                      value="org.switchyard.tools.ui.explorer.IComponentsNode">
                </instanceof>
                <instanceof
                      value="org.switchyard.tools.ui.explorer.IComponentReference">
                </instanceof>
                <adapt
                      type="org.eclipse.jdt.core.IJavaElement">
                </adapt>
             </or>
          </enablement>
       </commonWizard>
       -->
       <commonWizard
             menuGroupId="switchyard.group"
             type="new"
             wizardId="org.switchyard.tools.ui.wizards.NewServiceTestWizard">
          <enablement>
             <or>
                <instanceof
                      value="org.eclipse.core.resources.IProject">
                </instanceof>
                <instanceof
                      value="org.switchyard.tools.ui.explorer.ISwitchYardRootNode">
                </instanceof>
                <instanceof
                      value="org.switchyard.tools.ui.explorer.IComponentService">
                </instanceof>
                <adapt
                      type="org.eclipse.jdt.core.IJavaElement">
                </adapt>
             </or>
          </enablement>
       </commonWizard>
       <commonWizard
             menuGroupId="switchyard.group"
             type="new"
             wizardId="org.switchyard.tools.ui.wizards.Java2WSDLWizard">
          <enablement>
             <or>
                <instanceof
                      value="org.eclipse.core.resources.IProject">
                </instanceof>
                <instanceof
                      value="org.switchyard.tools.ui.explorer.ISwitchYardRootNode">
                </instanceof>
                <instanceof
                      value="org.switchyard.tools.ui.explorer.IComponentService">
                </instanceof>
                <instanceof
                      value="org.switchyard.tools.ui.explorer.IComponentReference">
                </instanceof>
                <instanceof
                      value="org.eclipse.jdt.core.IJavaElement">
                </instanceof>
                <instanceof
                      value="org.eclipse.core.resources.IResource">
                </instanceof>
             </or>
          </enablement>
       </commonWizard>
       <commonWizard
             menuGroupId="switchyard.group"
             type="new"
             wizardId="org.switchyard.tools.ui.wizards.WSDL2JavaWizard">
          <enablement>
             <or>
                <instanceof
                      value="org.eclipse.core.resources.IProject">
                </instanceof>
                <instanceof
                      value="org.switchyard.tools.ui.explorer.ISwitchYardRootNode">
                </instanceof>
                <instanceof
                      value="org.switchyard.tools.ui.explorer.IComponentService">
                </instanceof>
                <instanceof
                      value="org.switchyard.tools.ui.explorer.IComponentReference">
                </instanceof>
                <instanceof
                      value="org.eclipse.jdt.core.IJavaElement">
                </instanceof>
                <instanceof
                      value="org.eclipse.core.resources.IResource">
                </instanceof>
             </or>
          </enablement>
       </commonWizard>
       <commonWizard
             menuGroupId="switchyard.group"
             type="new"
             wizardId="org.switchyard.tools.ui.wizards.NewSwitchYardProjectWizard">
          <enablement>
              <or>
                  <instanceof
                          value="org.eclipse.core.resources.IWorkspaceRoot" />
                  <instanceof value="org.eclipse.core.resources.IProject"/>
                  <instanceof
                          value="org.switchyard.tools.ui.explorer.ISwitchYardNode"/>
                  <and>
                      <instanceof value="java.util.Collection"/>
                      <count value="0" />
                  </and>											
              </or>
          </enablement>
       </commonWizard>
       <actionProvider
             class="org.switchyard.tools.ui.actions.SwitchYardActionProvider"
             id="org.switchyard.tools.ui.actions.SwitchYardActionProvider">
          <enablement>
             <instanceof
                   value="org.switchyard.tools.ui.explorer.ISwitchYardNode">
             </instanceof>
          </enablement>
       </actionProvider>
    </navigatorContent>
	</extension>
	<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	         viewerId="org.eclipse.ui.navigator.ProjectExplorer">
	      <includes>
             <contentExtension
                isRoot="false"
                pattern="org.switchyard.tools.ui.explorer.content">
             </contentExtension>
	      </includes>
	   </viewerContentBinding>
	</extension>

  <extension
        point="org.switchyard.tools.ui.switchYardComponent">
     <component
           id="org.switchyard:switchyard-runtime"
           name="Runtime"
           scannerClass="org.switchyard.transform.config.model.TransformSwitchYardScanner">
        <description>
           Core SwitchYard runtime dependencies.
        </description>
        <dependency>
           <groupId>org.switchyard</groupId>
           <artifactId>switchyard-api</artifactId>
        </dependency>
        <dependency>
           <groupId>org.switchyard</groupId>
           <artifactId>switchyard-transform</artifactId>
        </dependency>
        <dependency>
           <groupId>org.switchyard</groupId>
           <artifactId>switchyard-validate</artifactId>
        </dependency>
        <dependency>
           <groupId>org.switchyard</groupId>
           <artifactId>switchyard-plugin</artifactId>
        </dependency>
        <dependency>
           <groupId>org.switchyard</groupId>
           <artifactId>switchyard-test</artifactId>
           <scope>test</scope>
        </dependency>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-test-mixin-cdi</artifactId>
           <scope>test</scope>
        </dependency>
     </component>
     <!--
     <component
           id="org.switchyard.components:switchyard-component-bean"
           name="Bean"
           scannerClass="org.switchyard.component.bean.config.model.BeanSwitchYardScanner">
     -->
     <component
           category="implementation"
           id="org.switchyard.components:switchyard-component-bean"
           name="Bean">
        <description>
           Provides support for Java based service implementations.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-bean</artifactId>
        </dependency>
     </component>
     <!--
     <component
           id="org.switchyard.components:switchyard-component-camel"
           name="Camel"
           scannerClass="org.switchyard.component.camel.config.model.RouteScanner">
     -->
     <component
           category="implementation"
           id="org.switchyard.components:switchyard-component-camel"
           name="Camel Route">
        <description>
           Provides support for Camel route based service implementations.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-camel</artifactId>
        </dependency>
     </component>
<!--     <component
           name="Clojure"
           id="org.switchyard.components:switchyard-component-clojure">
        <description>
           Provides support for Clojure based service implementations.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-clojure</artifactId>
        </dependency>
     </component> -->
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-http"
           name="HTTP">
        <description>
           Provides support for HTTP based service implementations.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-http</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-jca"
           name="JCA">
        <description>
           Provides support for JCA based gateways.
        </description>
        <dependency>
           <groupId>
              org.switchyard.components
           </groupId>
           <artifactId>
              switchyard-component-jca
           </artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-resteasy"
           name="REST">
        <description>
           Provides support for RESTeasy based gateways.
        </description>
        <dependency>
           <groupId>
              org.switchyard.components
           </groupId>
           <artifactId>
              switchyard-component-resteasy
           </artifactId>
        </dependency>
     </component>
     <!--
     <component
           id="org.switchyard.components:switchyard-component-rules"
           name="Rules (Drools)"
           scannerClass="org.switchyard.component.rules.config.model.RulesSwitchYardScanner">
     -->
     <component
           category="implementation"
           id="org.switchyard.components:switchyard-component-rules"
           name="Rules (Drools)">
        <description>
           Provides support for Drools based service implementations.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-rules</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-soap"
           name="SOAP">
        <description>
           Provides support for SOAP based gateways.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-soap</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-camel-core"
           name="Camel Core (SEDA/Timer/URI)">
        <description>
           Provides support for gateways defined using core Camel gateway types: SEDA, timer, generic URI.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-camel-core</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-camel-file"
           name="File">
        <description>
           Provides support for file gateways.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-camel-file</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-camel-ftp"
           name="File Transfer (FTP/FTPS/SFTP)">
        <description>
           Provides support for FTP/FTPS/SFTP gateways.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-camel-ftp</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-camel-jms"
           name="JMS">
        <description>
           Provides support for JMS gateways.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-camel-jms</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-camel-jpa"
           name="JPA">
        <description>
           Provides support for JPA gateways.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-camel-jpa</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-camel-mail"
           name="Mail">
        <description>
           Provides support for e-mail (IMAP/POP3/SNMP) gateways.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-camel-mail</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-camel-quartz"
           name="Scheduling">
        <description>
           Provides support for Camel Quartz gateways.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-camel-quartz</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-camel-sql"
           name="SQL">
        <description>
           Provides support for SQL gateways.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-camel-sql</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-camel-netty"
           name="Network (TCP/UDP)">
        <description>
           Provides support for TCP/UDP (Camel Netty) gateways.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-camel-netty</artifactId>
        </dependency>
     </component>
     <component
           category="gateway"
           id="org.switchyard.components:switchyard-component-sca"
           name="SCA">
        <description>
           Provides support for SCA gateways.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-sca</artifactId>
        </dependency>
     </component>
     <!-- Test modules... -->
     <component
           category="test"
           id="org.switchyard.components:switchyard-component-test-mixin-bpm"
           name="BPM Mixin">
        <description>
           Provides access to BPM runtime features within unit tests, e.g. sending non-SwitchYard events into the BPM engine during a test.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-test-mixin-bpm</artifactId>
           <scope>test</scope>
        </dependency>
     </component>
     <component
           category="test"
           id="org.switchyard.components:switchyard-component-test-mixin-hornetq"
           name="HornetQ Mixin">
        <description>
           Provides access to HornetQ runtime features within unit tests, e.g. sending a message to a queue bound to a SwitchYard service.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-test-mixin-hornetq</artifactId>
           <scope>test</scope>
        </dependency>
     </component>
     <component
           category="test"
           id="org.switchyard.components:switchyard-component-test-mixin-http"
           name="HTTP Mixin">
        <description>
           Provides access to HTTP runtime features within unit tests, e.g. sending a SOAP message via http to a SwitchYard service.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-test-mixin-http</artifactId>
           <scope>test</scope>
        </dependency>
     </component>
     <component
           category="test"
           id="org.switchyard.components:switchyard-component-test-mixin-jca"
           name="JCA Mixin">
        <description>
           Provides access to JCA runtime features within unit tests, e.g. creating resource adapters.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-test-mixin-jca</artifactId>
           <scope>test</scope>
        </dependency>
     </component>
     <component
           category="test"
           id="org.switchyard.components:switchyard-component-test-mixin-naming"
           name="Naming Mixin">
        <description>
           Provides access to naming contexts within unit tests, e.g. binding resources to a name referenced by a service or binding.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-test-mixin-naming</artifactId>
           <scope>test</scope>
        </dependency>
     </component>
     <component
           category="test"
           id="org.switchyard.components:switchyard-component-test-mixin-smooks"
           name="Smooks Mixin">
        <description>
           Provides access to Smooks features within unit tests, e.g. testing Smooks transformations.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-test-mixin-smooks</artifactId>
           <scope>test</scope>
        </dependency>
     </component>
  </extension>
  <extension
        point="org.switchyard.tools.ui.repositorySupport">
     <wizard
           class="org.switchyard.tools.ui.wizards.NewGenericArtifactReferenceWizard"
           id="org.switchyard.tools.ui.repository.generic"
           name="Generic Artifact Reference">
        <description>
           Adds an &lt;artifact&gt; element to the project&apos;s switchyard.xml file.
        </description>
     </wizard>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.switchyard.tools.ui.explorer.ISwitchYardNode"
           class="org.switchyard.tools.ui.properties.PropertySourceAdapterFactory">
        <adapter
              type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.switchyard.config.model.Model"
           class="org.switchyard.tools.ui.properties.PropertySourceAdapterFactory">
        <adapter
              type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.Component"
           class="org.switchyard.tools.ui.PlatformResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.Service"
           class="org.switchyard.tools.ui.PlatformResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.Reference"
           class="org.switchyard.tools.ui.PlatformResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.Interface"
           class="org.switchyard.tools.ui.PlatformResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.ComponentService"
           class="org.switchyard.tools.ui.PlatformResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.ComponentReference"
           class="org.switchyard.tools.ui.PlatformResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.switchyard.tools.models.switchyard1_0.bean.BeanImplementationType"
           class="org.switchyard.tools.ui.PlatformResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.switchyard.tools.models.switchyard1_0.bpm.BPMImplementationType"
           class="org.switchyard.tools.ui.PlatformResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.switchyard.tools.models.switchyard1_0.rules.RulesImplementationType"
           class="org.switchyard.tools.ui.PlatformResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.switchyard.tools.models.switchyard1_0.camel.CamelImplementationType"
           class="org.switchyard.tools.ui.PlatformResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
     <factory
           adaptableType="org.switchyard.tools.models.switchyard1_0.clojure.ClojureImplementationType"
           class="org.switchyard.tools.ui.PlatformResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
     <!-- Model child adapters -->
     <factory
           adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.Component"
           class="org.switchyard.tools.ui.ModelChildAdapterFactory">
        <adapter
              type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
        </adapter>
        <adapter
              type="org.eclipse.soa.sca.sca1_1.model.sca.Interface">
        </adapter>
        <adapter
              type="org.eclipse.soa.sca.sca1_1.model.sca.Contract">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.Contract"
           class="org.switchyard.tools.ui.ModelChildAdapterFactory">
        <adapter
              type="org.eclipse.soa.sca.sca1_1.model.sca.Interface">
        </adapter>
     </factory>
     <factory
           adaptableType="org.switchyard.tools.models.switchyard1_0.switchyard.SwitchYardType"
           class="org.switchyard.tools.ui.WorkbenchAdapterFactory">
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.Component"
           class="org.switchyard.tools.ui.WorkbenchAdapterFactory">
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.Contract"
           class="org.switchyard.tools.ui.WorkbenchAdapterFactory">
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
     </factory>
  </extension>
  <extension
        id="projectValidator"
        name="SwitchYard Configuration Validator"
        point="org.eclipse.wst.validation.validatorV2">
     <validator
           class="org.switchyard.tools.ui.validation.SwitchYardProjectValidator"
           markerId="org.switchyard.tools.ui.problemMarker">
        <include>
           <rules>
              <facet
                    id="switchyard.core">
              </facet>
           </rules>
        </include>
        <include>
           <rules>
              <contentType
                    exactMatch="true"
                    id="org.switchyard.tools.ui.editor.content-type.xml">
              </contentType>
              <file
                    caseSensitive="true"
                    name="switchyard.xml"
                    type="file">
              </file>
           </rules>
        </include>
        <exclude>
           <rules>
              <file
                    caseSensitive="true"
                    name="switchyard.xml.diagram"
                    type="file">
              </file>
           </rules>
        </exclude>
     </validator>
  </extension>
  <extension
        id="org.switchyard.tools.ui.problemMarker"
        name="SwitchYard"
        point="org.eclipse.core.resources.markers">
     <persistent
           value="true">
     </persistent>
     <super
           type="org.eclipse.emf.validation.problem">
     </super>
     <super
           type="org.eclipse.wst.validation.problemmarker">
     </super>
     <super
           type="org.eclipse.wst.validation.problemmarker2">
     </super>
  </extension>

  <!-- Validation Extensions -->
  <extension
       point="org.eclipse.emf.validation.constraintBindings">
    <clientContext
          default="false"
          id="org.switchyard.tools.validationContext">
       <selector
             class="org.switchyard.tools.ui.validation.SwitchYardClientSelector">
       </selector>
    </clientContext>
    <binding
          category="org.switchyard.tools.validationCategory/sca"
          context="org.switchyard.tools.validationContext">
    </binding>
    <binding
          category="org.switchyard.tools.validationCategory/bean"
          context="org.switchyard.tools.validationContext">
    </binding>
  </extension>
  <extension
       point="org.eclipse.emf.validation.constraintProviders">
    <category
          id="org.switchyard.tools.validationCategory/sca"
          name="SwitchYard SCA Constraints">
    </category>
    <category
          id="org.switchyard.tools.validationCategory/bean"
          name="SwitchYard Bean Component Constraints">
    </category>
    <constraintProvider
          cache="true">
       <package
             namespaceUri="http://docs.oasis-open.org/ns/opencsa/sca/200912">
       </package>
       <constraints
             categories="org.switchyard.tools.validationCategory/sca">
          <constraint
                class="org.switchyard.tools.ui.validation.ServiceWiringConstraints"
                id="org.switchyard.tools.validation.constraint.service/wiring"
                isEnabledByDefault="true"
                lang="Java"
                mode="Batch"
                name="Service Wiring Constraints"
                statusCode="0">
             <message>
                Service wiring constraints.
             </message>
             <target
                   class="Contract">
             </target>
          </constraint>
          <constraint
                class="org.switchyard.tools.ui.validation.ServiceInterfaceConstraint"
                id="org.switchyard.tools.validation.constraint.service/interface"
                isEnabledByDefault="true"
                lang="Java"
                mode="Batch"
                name="Service Interface Not Defined"
                severity="ERROR"
                statusCode="1001">
             <message>
                No interface is defined for the service/reference.
             </message>
             <description>
                All services and references must define an interface.
             </description>
             <target
                   class="Contract">
             </target>
          </constraint>
       </constraints>
    </constraintProvider>
    <constraintProvider
          cache="true">
       <package
             namespaceUri="urn:switchyard-component-bean:config:1.0">
       </package>
       <constraints
             categories="org.switchyard.tools.validationCategory/bean">
          <constraint
                class="org.switchyard.tools.ui.validation.BeanComponentConstraint"
                id="org.switchyard.tools.validation.constraint.component/bean"
                isEnabledByDefault="true"
                lang="Java"
                mode="Batch"
                name="Bean Component Constraints"
                statusCode="0">
             <message>
                Bean component constraints.
             </message>
             <target
                   class="BeanImplementationType">
             </target>
          </constraint>
       </constraints>
    </constraintProvider>
  </extension>

	<extension point="org.eclipse.core.expressions.propertyTesters">
	    <propertyTester
	      id="org.switchyard.tools.ui.OpenShiftProjectTester"
	      type="org.eclipse.core.resources.IProject"
	      namespace="org.switchyard.tools.ui"
	      properties="isOpenShiftProject"
	      class="org.switchyard.tools.ui.actions.OpenShiftProjectTester">
	    </propertyTester>
	  </extension>
</plugin>
