<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.switchyard.tools.ui"
            name="SwitchYard">
      </category>
      <wizard
            category="org.switchyard.tools.ui"
            class="org.switchyard.tools.ui.wizards.NewSwitchYardProjectWizard"
            descriptionImage="icons/switchyard_logo_200px.png"
            icon="icons/switchyard_icon_16px.png"
            id="org.switchyard.tools.ui.wizards.NewSwitchYardProjectWizard"
            name="SwitchYard Project"
            project="true">
         <description>Create a new SwitchYard project.</description>
      </wizard>
      <wizard
            category="org.switchyard.tools.ui"
            class="org.switchyard.tools.ui.wizards.NewBeanServiceWizard"
            descriptionImage="icons/switchyard_logo_200px.png"
            icon="icons/switchyard_icon_16px.png"
            id="org.switchyard.tools.ui.wizards.NewBeanServiceWizard"
            name="Bean Service">
         <description>Create a new SwitchYard Bean service.</description>
      </wizard>
      <wizard
            category="org.switchyard.tools.ui"
            class="org.switchyard.tools.ui.wizards.NewServiceTestClassWizard"
            descriptionImage="icons/switchyard_logo_200px.png"
            icon="icons/switchyard_icon_16px.png"
            id="org.switchyard.tools.ui.wizards.NewServiceTestWizard"
            name="Service Test">
         <description>Create a new SwitchYard service test.</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.m2e.core.indexes">
      <index
            indexId="JBOSS_NEXUS"
            isShort="true"
            repositoryUrl="http://repository.jboss.org/nexus/content/groups/public">
      </index>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.presets">
      <static-preset
            id="org.switchyard.tools.ui.facet.switchYardJarPreset">
         <description>
            Basic project facet preset for SwitchYard applications packaged as JARs.
         </description>
         <label>
            SwitchYard Application - JAR
         </label>
         <facet
               id="java"
               version="1.6">
         </facet>
         <facet
               id="jst.utility"
               version="1.0">
         </facet>
      </static-preset>
   </extension>

</plugin>
