<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.open.oasis.docs.ns.opencsa.sca.bpel.BPELImplementation"
           class="org.switchyard.tools.ui.bpel.BPELResourceAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
  </extension>
	<extension
	    point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	    <propertyTabs contributorId="org.switchyard.tools.ui.editor.diagram.PropertyContributor">
        <propertyTab
              afterTab="switchyard.implementation.bpel.tab"
              category="SwitchyardSCA"
              id="switchyard.implementation.bpel.tab"
              label="Implementation">
        </propertyTab>
        </propertyTabs>
        </extension>

	<extension
	    point="org.eclipse.ui.views.properties.tabbed.propertySections">
	    <propertySections contributorId="org.switchyard.tools.ui.editor.diagram.PropertyContributor">
         <propertySection
               class="org.switchyard.tools.ui.bpel.BPELImplementationPropertySection"
               filter="org.switchyard.tools.ui.bpel.BPELImplementationPropertySectionFilter"
               id="switchyard.implementation.bpel.tab.details"
               tab="switchyard.implementation.bpel.tab">
         </propertySection>
         </propertySections>
         </extension>

   <extension
         point="org.switchyard.tools.ui.editor.editorExtension">
    <componentExtension
          class="org.switchyard.tools.ui.bpel.BPELComponentTypeExtension">
    </componentExtension>
   </extension>
   <extension
         point="org.switchyard.tools.ui.switchYardComponent">
     <component
           category="implementation"
           id="org.switchyard.components:switchyard-component-bpel"
           name="BPEL">
        <description>
           Provides support for BPEL based service implementations.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-bpel</artifactId>
        </dependency>
     </component>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.switchyard.tools.ui.bpel.BPELImplementationPropertyPage"
            id="org.switchyard.tools.ui.bpel.propertyPage"
            name="Implementation">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
               <instanceof
                     value="org.open.oasis.docs.ns.opencsa.sca.bpel.BPELImplementation">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
   </extension>

</plugin>
