package $intf.PackageName;

#if ($mark-generated == "true")
import javax.annotation.Generated;
#end
#foreach ($import in $intf.Imports)
import ${import};
#end

#if ($intf.classJavaDoc != "")
/**
$intf.classJavaDoc
 */
#end
#if ($mark-generated == "true")
@Generated(value = "org.apache.cxf.tools.wsdlto.WSDLToJava", date = "$currentdate", comments = "$fullversion")
#end
public interface $intf.Name {
#foreach ($method in $intf.Methods)

#if ($method.JavaDoc != "")
    /**
${method.JavaDoc}
     */
#end
    public $method.returnValue ${method.Name}(#if($method.Parameters.size() == 0))#end
#if($method.Parameters.size() != 0)
#foreach ($param in ${method.Parameters})

        $param.Type $param.Name#if($method.Parameters.size() != $velocityCount),#end
#end)#end#if($method.Exceptions.size() > 0) throws#foreach($exception in $method.Exceptions) $exception.ClassName#if($method.Exceptions.size() != $velocityCount),#end#end#end;
#end
}
