<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="This is the diagram type for an SCA editor"
            id="org.switchyard.tools.ui.editor.diagram"
            name="SCA Diagram Type"
            type="org.switchyard.tools.ui.editor.diagram">
      </diagramType>
   </extension>

  <extension
      point="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
      class="org.switchyard.tools.ui.editor.diagram.SCADiagramTypeProvider"
      description="This is the SCA diagram type editor"
      id="org.switchyard.tools.ui.editor.diagram.SCADiagramTypeProvider"
      name="SCA Editor">
      <diagramType
        id="org.switchyard.tools.ui.editor.diagram">
      </diagramType>
      <imageProvider
            id="org.switchyard.tools.ui.editor.ImageProvider">
      </imageProvider>
    </diagramTypeProvider>
  </extension>
	<extension
	    point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	    <propertyTabs contributorId="org.switchyard.tools.ui.editor.diagram.PropertyContributor">
	        <propertyTab label="Main" category="SwitchyardSCA" 
	            id="switchyard.main.tab">
	        </propertyTab>
        <propertyTab
              afterTab="switchyard.main.tab"
              category="SwitchyardSCA"
              id="switchyard.binding.tab"
              label="Bindings">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.binding.tab"
              category="SwitchyardSCA"
              id="switchyard.interface.tab"
              label="Interface">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.implementation.tab"
              category="SwitchyardSCA"
              id="switchyard.implementation.tab"
              label="Implementation">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.transform.tab"
              category="SwitchyardSCA"
              id="switchyard.transform.tab"
              label="Transforms">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.validate.tab"
              category="SwitchyardSCA"
              id="switchyard.validate.tab"
              label="Validators">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.interaction.policy.tab"
              category="SwitchyardSCA"
              id="switchyard.interaction.policy.tab"
              indented="true"
              label="Interaction Policy">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.implementation.policy.tab"
              category="SwitchyardSCA"
              id="switchyard.implementation.policy.tab"
              indented="true"
              label="Implementation Policy">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.security.policy.tab"
              category="SwitchyardSCA"
              id="switchyard.security.policy.tab"
              indented="true"
              label="Security Policy">
        </propertyTab>
	    </propertyTabs>
	</extension>
	 
	<extension
	    point="org.eclipse.ui.views.properties.tabbed.propertySections">
	    <propertySections contributorId="org.switchyard.tools.ui.editor.diagram.PropertyContributor">
	        <propertySection tab="switchyard.main.tab"            
	         class="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesMainSection"
	         filter="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesMainFilter"
	         id="switchyard.main.tab.names">
	        </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesBindingsSection"
               filter="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesBindingsFilter"
               id="switchyard.binding.tab.details"
               tab="switchyard.binding.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesInterfacesSection"
               filter="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesInterfacesFilter"
               id="switchyard.interface.tab.details"
               tab="switchyard.interface.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesImplementationSection"
               filter="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesImplementationsFilter"
               id="switchyard.implementation.tab.details"
               tab="switchyard.implementation.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.TransformPropertySection"
               filter="org.switchyard.tools.ui.editor.property.TransformPropertyFilter"
               id="switchyard.transform.tab.details"
               tab="switchyard.transform.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.ValidatorPropertySection"
               filter="org.switchyard.tools.ui.editor.property.ValidatorPropertyFilter"
               id="switchyard.validate.tab.details"
               tab="switchyard.validate.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.InteractionPolicyPropertySection"
               filter="org.switchyard.tools.ui.editor.property.InteractionPolicyPropertyFilter"
               id="switchyard.interaction.policy.tab.details"
               tab="switchyard.interaction.policy.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.ImplementationPolicyPropertySection"
               filter="org.switchyard.tools.ui.editor.property.ImplementationPolicyPropertyFilter"
               id="switchyard.implementation.policy.tab.details"
               tab="switchyard.implementation.policy.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.SecurityPolicyPropertySection"
               filter="org.switchyard.tools.ui.editor.property.SecurityPolicyPropertyFilter"
               id="switchyard.security.policy.tab.details"
               tab="switchyard.security.policy.tab">
         </propertySection>
	    </propertySections>
	</extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="org.switchyard.tools.ui.editor.diagram.PropertyContributor">
       <propertyCategory
             category="SwitchyardSCA">
       </propertyCategory>
    </propertyContributor>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.switchyard.tools.ui.editor.impl.SwitchyardSCAEditor"
          contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
          default="true"
          filenames="switchyard.xml"
          icon="icons/16/switchyard_icon_16px.png"
          id="org.switchyard.tools.ui.editor.switchyard.editor"
          name="Switchyard Visual Editor">
       <contentTypeBinding
             contentTypeId="org.switchyard.tools.ui.editor.content-type.xml">
       </contentTypeBinding>
    </editor>
    <editor
          class="org.switchyard.tools.ui.editor.impl.MultiPageEditor"
          contributorClass="org.switchyard.tools.ui.editor.impl.MultiPageEditorContributor"
          default="true"
          filenames="switchyard.xml"
          icon="icons/16/switchyard_icon_16px.png"
          id="org.switchyard.tools.ui.editor.switchyard.editor.multi"
          name="Switchyard Visual Multipage Editor">
       <contentTypeBinding
             contentTypeId="org.switchyard.tools.ui.editor.content-type.xml">
       </contentTypeBinding>
    </editor>
 </extension>

	<extension point="org.eclipse.graphiti.ui.imageProviders">
		<imageProvider class="org.switchyard.tools.ui.editor.ImageProvider"
			id="org.switchyard.tools.ui.editor.ImageProvider">
		</imageProvider>
	</extension>

</plugin>
