<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="editorExtension" name="editorExtension" schema="schema/editorExtension.exsd"/>
   <extension-point id="jcaResourceAdapterExtension" name="jcaResourceAdapterExtension" schema="schema/jcaResourceAdapterExtension.exsd"/>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="This is the diagram type for an SCA editor"
            id="org.switchyard.tools.ui.editor.diagram"
            name="SCA Diagram Type"
            type="org.switchyard.tools.ui.editor.diagram">
      </diagramType>
   </extension>

  <extension
      point="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
      class="org.switchyard.tools.ui.editor.diagram.SCADiagramTypeProvider"
      description="This is the SCA diagram type editor"
      id="org.switchyard.tools.ui.editor.diagram.SCADiagramTypeProvider"
      name="SCA Editor">
      <diagramType
        id="org.switchyard.tools.ui.editor.diagram">
      </diagramType>
      <imageProvider
            id="org.switchyard.tools.ui.editor.ImageProvider">
      </imageProvider>
    </diagramTypeProvider>
  </extension>
	<extension
	    point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	    <propertyTabs contributorId="org.switchyard.tools.ui.editor.diagram.PropertyContributor">
	        <propertyTab label="%propertyTab.label.main" category="SwitchyardSCA" 
	            id="switchyard.main.tab">
	        </propertyTab>
        <propertyTab
              afterTab="switchyard.main.tab"
              category="SwitchyardSCA"
              id="switchyard.binding.tab"
              label="%propertyTab.label.bindings">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.binding.tab"
              category="SwitchyardSCA"
              id="switchyard.interface.tab"
              label="%propertyTab.label.interface">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.implementation.bean.tab"
              category="SwitchyardSCA"
              id="switchyard.implementation.bean.tab"
              label="%propertyTab.label.implementation">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.implementation.camel.java.tab"
              category="SwitchyardSCA"
              id="switchyard.implementation.camel.java.tab"
              label="%propertyTab.label.implementation">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.implementation.camel.xml.tab"
              category="SwitchyardSCA"
              id="switchyard.implementation.camel.xml.tab"
              label="%propertyTab.label.implementation">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.implementation.rules.tab"
              category="SwitchyardSCA"
              id="switchyard.implementation.rules.tab"
              label="%propertyTab.label.implementation">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.transform.tab"
              category="SwitchyardSCA"
              id="switchyard.transform.tab"
              label="%propertyTab.label.transforms">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.validate.tab"
              category="SwitchyardSCA"
              id="switchyard.validate.tab"
              label="%propertyTab.label.validators">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.implementation.security.policy.tab"
              category="SwitchyardSCA"
              id="switchyard.implementation.security.policy.tab"
              indented="true"
              label="%propertyTab.label.securityPolicy">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.security.policy.tab"
              category="SwitchyardSCA"
              id="switchyard.security.policy.tab"
              indented="true"
              label="%propertyTab.label.securityPolicy">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.interaction.policy.tab"
              category="SwitchyardSCA"
              id="switchyard.interaction.policy.tab"
              indented="true"
              label="%propertyTab.label.transactionPolicy">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.implementation.policy.tab"
              category="SwitchyardSCA"
              id="switchyard.implementation.policy.tab"
              indented="true"
              label="%propertyTab.label.transactionPolicy">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.composite.property.tab"
              category="SwitchyardSCA"
              id="switchyard.composite.property.tab"
              label="%propertyTab.label.compositeProperties">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.component.property.tab"
              category="SwitchyardSCA"
              id="switchyard.component.property.tab"
              label="%propertyTab.label.componentProperties">
        </propertyTab>
        <propertyTab
              afterTab="switchyard.interaction.policy.tab"
              category="SwitchyardSCA"
              id="switchyard.throttling.tab"
              label="%propertyTab.label.throttling">
        </propertyTab>
<!--       <propertyTab
            afterTab="switchyard.advanced.tab"
            category="SwitchyardSCA"
               id="switchyard.advanced.tab"
            label="Advanced"/> -->
  	    </propertyTabs>
	</extension>
	 
	<extension
	    point="org.eclipse.ui.views.properties.tabbed.propertySections">
	    <propertySections contributorId="org.switchyard.tools.ui.editor.diagram.PropertyContributor">
	        <propertySection tab="switchyard.main.tab"            
	         class="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesMainSection"
	         filter="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesMainFilter"
	         id="switchyard.main.tab.names">
	        </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesBindingsSection"
               filter="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesBindingsFilter"
               id="switchyard.binding.tab.details"
               tab="switchyard.binding.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.intfc.InterfaceControlPropertiesSection"
               filter="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesInterfacesFilter"
               id="switchyard.interface.tab.details"
               tab="switchyard.interface.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.components.bean.BeanImplementationPropertySection"
               filter="org.switchyard.tools.ui.editor.components.bean.BeanImplementationPropertySectionFilter"
               id="switchyard.implementation.bean.tab.details"
               tab="switchyard.implementation.bean.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.components.camel.java.CamelJavaImplementationPropertySection"
               filter="org.switchyard.tools.ui.editor.components.camel.java.CamelJavaImplementationPropertySectionFilter"
               id="switchyard.implementation.camel.java.tab.details"
               tab="switchyard.implementation.camel.java.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.components.camel.xml.CamelXMLImplementationPropertySection"
               filter="org.switchyard.tools.ui.editor.components.camel.xml.CamelXMLImplementationPropertySectionFilter"
               id="switchyard.implementation.camel.xml.tab.details"
               tab="switchyard.implementation.camel.xml.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.components.rules.RulesImplementationPropertySection"
               filter="org.switchyard.tools.ui.editor.components.rules.RulesImplementationPropertySectionFilter"
               id="switchyard.implementation.rules.tab.details"
               tab="switchyard.implementation.rules.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.composite.TransformPropertySection"
               filter="org.switchyard.tools.ui.editor.property.composite.TransformPropertyFilter"
               id="switchyard.transform.tab.details"
               tab="switchyard.transform.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.composite.ValidatorPropertySection"
               filter="org.switchyard.tools.ui.editor.property.composite.ValidatorPropertyFilter"
               id="switchyard.validate.tab.details"
               tab="switchyard.validate.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.InteractionPolicyPropertySection"
               filter="org.switchyard.tools.ui.editor.property.InteractionPolicyPropertyFilter"
               id="switchyard.interaction.policy.tab.details"
               tab="switchyard.interaction.policy.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.implementation.ImplementationPolicyPropertySection"
               filter="org.switchyard.tools.ui.editor.property.implementation.ImplementationPolicyPropertyFilter"
               id="switchyard.implementation.policy.tab.details"
               tab="switchyard.implementation.policy.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.component.ComponentSecurityPolicyPropertySection"
               filter="org.switchyard.tools.ui.editor.property.component.ComponentSecurityPolicyPropertyFilter"
               id="switchyard.implementation.security.policy.tab.details"
               tab="switchyard.implementation.security.policy.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.SecurityPolicyPropertySection"
               filter="org.switchyard.tools.ui.editor.property.SecurityPolicyPropertyFilter"
               id="switchyard.security.policy.tab.details"
               tab="switchyard.security.policy.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.composite.CompositePropertiesPropertySection"
               filter="org.switchyard.tools.ui.editor.property.composite.CompositePropertiesPropertyFilter"
               id="switchyard.composite.property.tab.details"
               tab="switchyard.composite.property.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.component.ComponentPropertiesPropertySection"
               filter="org.switchyard.tools.ui.editor.property.component.ComponentPropertiesPropertyFilter"
               id="switchyard.component.property.tab.details"
               tab="switchyard.component.property.tab">
         </propertySection>
         <propertySection
               class="org.switchyard.tools.ui.editor.property.ThrottlingPropertySection"
               filter="org.switchyard.tools.ui.editor.property.ThrottlingPropertyFilter"
               id="switchyard.throttling.tab.details"
               tab="switchyard.throttling.tab">
         </propertySection>
<!--        <propertySection
               class="org.switchyard.tools.ui.editor.property.SwitchyardAdvancedPropertySection"
               id="switchyard.advanced.section"
               filter="org.switchyard.tools.ui.editor.property.SwitchyardSCAPropertiesMainFilter"
               tab="switchyard.advanced.tab">
         </propertySection> -->
	    </propertySections>
	</extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="org.switchyard.tools.ui.editor.diagram.PropertyContributor">
       <propertyCategory
             category="SwitchyardSCA">
       </propertyCategory>
    </propertyContributor>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <!--
    <editor
          class="org.switchyard.tools.ui.editor.impl.SwitchyardSCAEditor"
          contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
          default="true"
          filenames="switchyard.xml"
          icon="icons/16/switchyard_icon_16px.png"
          id="org.switchyard.tools.ui.editor.switchyard.editor"
          name="%editor.name.switchYardVisualEditor">
       <contentTypeBinding
             contentTypeId="org.switchyard.content-type.1.x">
       </contentTypeBinding>
    </editor>
    -->
    <editor
          class="org.switchyard.tools.ui.editor.impl.MultiPageEditor"
          contributorClass="org.switchyard.tools.ui.editor.impl.MultiPageEditorContributor"
          default="true"
          filenames="switchyard.xml"
          icon="icons/16/switchyard_icon_16px.png"
          id="org.switchyard.tools.ui.editor.switchyard.editor.multi"
          name="%editor.name.switchYardVisualMultipageEditor">
       <contentTypeBinding
             contentTypeId="org.switchyard.content-type.1.x">
       </contentTypeBinding>
    </editor>
 </extension>

	<extension point="org.eclipse.graphiti.ui.imageProviders">
		<imageProvider class="org.switchyard.tools.ui.editor.ImageProvider"
			id="org.switchyard.tools.ui.editor.ImageProvider">
		</imageProvider>
	</extension>
   <extension
         point="org.eclipse.emf.compare.rcp.matchEngine">
      <engineFactory
            class="org.switchyard.tools.ui.editor.model.merge.SwitchYardMatchEngineFactory"
            ranking="20">
      </engineFactory>
   </extension>
 <extension
       point="org.switchyard.tools.ui.editor.editorExtension">
    <componentExtension
          class="org.switchyard.tools.ui.editor.components.bean.BeanComponentTypeExtension">
    </componentExtension>
    <componentExtension
          class="org.switchyard.tools.ui.editor.components.camel.CamelComponentTypeExtension">
    </componentExtension>
    <componentExtension
          class="org.switchyard.tools.ui.editor.components.rules.RulesComponentTypeExtension">
    </componentExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.file.CamelFileBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.ftp.CamelFTPBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.ftps.CamelFTPSBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.sftp.CamelSFTPBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.jms.CamelJMSBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.jpa.CamelJPABindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.mail.CamelMailBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.netty.CamelNettyTCPBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.netty.CamelNettyUDPBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.quartz.CamelQuartzBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.sql.CamelSQLBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.http.HttpBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.jca.JCABindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.resteasy.ResteasyBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.soap.SOAPBindingTypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.binding.sca.BindingSCATypeExtension">
    </bindingExtension>
    <bindingExtension
          class="org.switchyard.tools.ui.editor.components.camel.binding.CamelBindingTypeExtension">
    </bindingExtension>
 </extension>

  <!-- Validation Extensions -->
  <extension
       point="org.eclipse.emf.validation.constraintBindings">
    <binding
          category="org.switchyard.tools.validationCategory/capabilities"
          context="org.switchyard.tools.validationContext">
    </binding>
  </extension>
  <extension
       point="org.eclipse.emf.validation.constraintProviders">
    <category
          id="org.switchyard.tools.validationCategory/capabilities"
          name="%validation.category.name.switchYardProjectCapabilityValidation">
    </category>
    <constraintProvider
          cache="true">
       <package
             namespaceUri="http://docs.oasis-open.org/ns/opencsa/sca/200912">
       </package>
       <constraints
             categories="org.switchyard.tools.validationCategory/capabilities">
          <constraint
                class="org.switchyard.tools.ui.editor.validation.CapabilitiesValidation"
                id="org.switchyard.tools.validation.constraint/capabilities"
                isEnabledByDefault="true"
                lang="Java"
                mode="Batch"
                name="%validation.constraint.name.switchYardCapabilityUsageValidator"
                statusCode="1002">
             <message>
                %validation.constraint.message.switchYardCapabilityUsageValidator
             </message>
             <target
                   class="Composite">
             </target>
          </constraint>
          <constraint
                class="org.switchyard.tools.ui.editor.validation.InterfaceTypeValidation"
                id="org.switchyard.tools.validation.constraint/interfaceTypes"
                isEnabledByDefault="true"
                lang="Java"
                mode="Batch"
                name="%validation.constraint.name.switchYardInterfaceTypeValidator"
                statusCode="1003">
             <message>
                %validation.constraint.message.switchYardInterfaceTypeValidator
             </message>
             <target
                   class="ComponentService">
             </target>
             <target
                   class="ComponentReference">
             </target>
          </constraint>
       </constraints>
    </constraintProvider>
  </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.switchyard.tools.ui.editor.property.contract.ContractControlPropertyPage"
            id="org.switchyard.tools.ui.contract.propertyPage"
            name="%property.page.name.contract">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Contract">
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.switchyard.tools.ui.contract.propertyPage"
            class="org.switchyard.tools.ui.editor.property.InteractionPolicyPropertyPage"
            id="org.switchyard.tools.ui.contract.policy.transaction.propertyPage"
            name="%property.page.name.transactionPolicy">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Contract">
               <or>
                  <instanceof
                        value="org.eclipse.soa.sca.sca1_1.model.sca.ComponentService">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.soa.sca.sca1_1.model.sca.ComponentReference">
                  </instanceof>
               </or>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.switchyard.tools.ui.contract.propertyPage"
            class="org.switchyard.tools.ui.editor.property.SecurityPolicyPropertyPage"
            id="org.switchyard.tools.ui.contract.policy.security.propertyPage"
            name="%property.page.name.securityPolicy">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Contract">
               <or>
                  <instanceof
                        value="org.eclipse.soa.sca.sca1_1.model.sca.ComponentService">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.soa.sca.sca1_1.model.sca.ComponentReference">
                  </instanceof>
               </or>
            </adapt>
         </enabledWhen>
      </page>
<!--      <page
            class="org.switchyard.tools.ui.editor.property.implementation.ImplementationPolicyPropertyPage"
            id="org.switchyard.tools.ui.component.policy.transaction.propertyPage"
            name="%property.page.name.transactionPolicy">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Component">
            </adapt>
         </enabledWhen>
      </page> -->
     <page
            class="org.switchyard.tools.ui.editor.property.implementation.ImplementationPolicyPropertyPage"
            id="org.switchyard.tools.ui.implementation.bean.policy.transaction.propertyPage"
            category="org.switchyard.tools.ui.bean.implementation.propertyPage"
            name="%property.page.name.transactionPolicy">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
               <instanceof
                     value="org.switchyard.tools.models.switchyard1_0.bean.BeanImplementationType">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.switchyard.tools.ui.editor.property.implementation.ImplementationPolicyPropertyPage"
            id="org.switchyard.tools.ui.implementation.rules.policy.transaction.propertyPage"
            category="org.switchyard.tools.ui.rules.implementation.propertyPage"
            name="%property.page.name.transactionPolicy">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
               <instanceof
                     value="org.switchyard.tools.models.switchyard1_0.rules.RulesImplementationType">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.switchyard.tools.ui.editor.property.contract.BindingsPropertyPage"
            id="org.switchyard.tools.ui.bindings.propertyPage"
            name="%property.page.name.bindings">
         <enabledWhen>
               <or>
                  <instanceof
                        value="org.eclipse.soa.sca.sca1_1.model.sca.Service">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.soa.sca.sca1_1.model.sca.Reference">
                  </instanceof>
               </or>
         </enabledWhen>
      </page>
      <page
            class="org.switchyard.tools.ui.editor.property.component.ComponentMainPropertyPage"
            id="org.switchyard.tools.ui.component.name.propertyPage"
            name="%property.page.name.component">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Component">
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.switchyard.tools.ui.component.name.propertyPage"
            class="org.switchyard.tools.ui.editor.property.component.ComponentPropertiesPropertyPage"
            id="org.switchyard.tools.ui.component.properties.propertyPage"
            name="%property.page.name.properties">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Component">
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.switchyard.tools.ui.composite.name.propertyPage"
            class="org.switchyard.tools.ui.editor.property.composite.CompositePropertiesPropertyPage"
            id="org.switchyard.tools.ui.composite.properties.propertyPage"
            name="%property.page.name.properties">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Composite">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.switchyard.tools.ui.editor.property.composite.CompositeMainPropertyPage"
            id="org.switchyard.tools.ui.composite.name.propertyPage"
            name="%property.page.name.composite">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Composite">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.switchyard.tools.ui.editor.property.composite.TransformsPropertyPage"
            id="org.switchyard.tools.ui.composite.transforms.propertyPage"
            name="%property.page.name.transforms">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Composite">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.switchyard.tools.ui.editor.property.composite.ValidatorsPropertyPage"
            id="org.switchyard.tools.ui.composite.validators.propertyPage"
            name="%property.page.name.validators">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Composite">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.switchyard.tools.ui.editor.components.bean.BeanImplementationPropertyPage"
            id="org.switchyard.tools.ui.bean.implementation.propertyPage"
            name="%property.page.name.implementation">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
               <instanceof
                     value="org.switchyard.tools.models.switchyard1_0.bean.BeanImplementationType">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.switchyard.tools.ui.editor.components.camel.java.CamelJavaImplementationPropertyPage"
            id="org.switchyard.tools.ui.camel.java.implementation.propertyPage"
            name="%property.page.name.implementation">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
	               <adapt
	                     type="org.switchyard.tools.models.switchyard1_0.camel.JavaDSLType">
	               </adapt>
	         </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.switchyard.tools.ui.editor.components.camel.xml.CamelXMLImplementationPropertyPage"
            id="org.switchyard.tools.ui.camel.xml.implementation.propertyPage"
            name="%property.page.name.implementation">
         <enabledWhen>
         	<and>
	            <adapt
	                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
	               <instanceof
	                     value="org.switchyard.tools.models.switchyard1_0.camel.CamelImplementationType">
	               </instanceof>
	            </adapt>
	            <not>
		            <adapt
		                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
			               <adapt
			                     type="org.switchyard.tools.models.switchyard1_0.camel.JavaDSLType">
			               </adapt>
			         </adapt>
	           	</not>
	        </and>
         </enabledWhen>
      </page>
      <page
            class="org.switchyard.tools.ui.editor.components.rules.RulesImplementationPropertyPage"
            id="org.switchyard.tools.ui.rules.implementation.propertyPage"
            name="%property.page.name.implementation">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
               <instanceof
                     value="org.switchyard.tools.models.switchyard1_0.rules.RulesImplementationType">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.switchyard.tools.ui.editor.property.ThrottlingPropertyPage"
            id="org.switchyard.tools.ui.contract.extensions.throttling.propertyPage"
            name="%property.page.name.throttling">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Contract">
               <or>
                  <instanceof
                        value="org.eclipse.soa.sca.sca1_1.model.sca.Service">
                  </instanceof>
               </or>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.switchyard.tools.ui.bean.implementation.propertyPage"
            class="org.switchyard.tools.ui.editor.property.component.ComponentSecurityPolicyPropertyPage"
            id="org.switchyard.tools.ui.implementation.bean.security.propertyPage"
            name="%property.page.name.securityPolicy">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
               <instanceof
                     value="org.switchyard.tools.models.switchyard1_0.bean.BeanImplementationType">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.switchyard.tools.ui.camel.java.implementation.propertyPage"
            class="org.switchyard.tools.ui.editor.property.implementation.ImplementationPolicyPropertyPage"
            id="org.switchyard.tools.ui.implementation.camel.java.policy.transaction.propertyPage"
            name="%property.page.name.transactionPolicy">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
               <adapt
                     type="org.switchyard.tools.models.switchyard1_0.camel.JavaDSLType">
               </adapt>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.switchyard.tools.ui.camel.xml.implementation.propertyPage"
            class="org.switchyard.tools.ui.editor.property.implementation.ImplementationPolicyPropertyPage"
            id="org.switchyard.tools.ui.implementation.camel.xml.policy.transaction.propertyPage"
            name="%property.page.name.transactionPolicy">
         <enabledWhen>
            <and>
               <adapt
                     type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
                  <instanceof
                        value="org.switchyard.tools.models.switchyard1_0.camel.CamelImplementationType">
                  </instanceof>
               </adapt>
               <not>
                  <adapt
                        type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
                     <adapt
                           type="org.switchyard.tools.models.switchyard1_0.camel.JavaDSLType">
                     </adapt>
                  </adapt>
               </not>
            </and>
         </enabledWhen>
      </page>
      <page
            category="org.switchyard.tools.ui.rules.implementation.propertyPage"
            class="org.switchyard.tools.ui.editor.property.component.ComponentSecurityPolicyPropertyPage"
            id="org.switchyard.tools.ui.implementation.rules.security.propertyPage"
            name="%property.page.name.securityPolicy">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
               <instanceof
                     value="org.switchyard.tools.models.switchyard1_0.rules.RulesImplementationType">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.switchyard.tools.ui.camel.java.implementation.propertyPage"
            class="org.switchyard.tools.ui.editor.property.component.ComponentSecurityPolicyPropertyPage"
            id="org.switchyard.tools.ui.implementation.camel.java.security.propertyPage"
            name="%property.page.name.securityPolicy">
         <enabledWhen>
            <adapt
                  type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
               <adapt
                     type="org.switchyard.tools.models.switchyard1_0.camel.JavaDSLType">
               </adapt>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.switchyard.tools.ui.camel.xml.implementation.propertyPage"
            class="org.switchyard.tools.ui.editor.property.component.ComponentSecurityPolicyPropertyPage"
            id="org.switchyard.tools.ui.implementation.camel.xml.security.propertyPage"
            name="%property.page.name.securityPolicy">
         <enabledWhen>
            <and>
               <adapt
                     type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
                  <instanceof
                        value="org.switchyard.tools.models.switchyard1_0.camel.CamelImplementationType">
                  </instanceof>
               </adapt>
               <not>
                  <adapt
                        type="org.eclipse.soa.sca.sca1_1.model.sca.Implementation">
                     <adapt
                           type="org.switchyard.tools.models.switchyard1_0.camel.JavaDSLType">
                     </adapt>
                  </adapt>
               </not>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.soa.sca.sca1_1.model.sca.Implementation"
            class="org.switchyard.tools.ui.editor.components.camel.java.CamelJavaRouteAdapter">
         <adapter
               type="org.switchyard.tools.models.switchyard1_0.camel.JavaDSLType">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.switchyard.tools.ui.editor.jcaResourceAdapterExtension">
      <jcaRAExtension
            class="org.switchyard.tools.ui.editor.components.jca.JCAGenericResourceAdapterExtension"
            raDisplayName="Custom Resource Adapter">
      </jcaRAExtension>
      <jcaRAExtension
            class="org.switchyard.tools.ui.editor.components.jca.JCAHornetQQueueResourceAdapterExtension"
            isDefault="true"
            raDisplayName="HornetQ Resource Adapter - Queue">
      </jcaRAExtension>
      <jcaRAExtension
            class="org.switchyard.tools.ui.editor.components.jca.JCAHornetQTopicResourceAdapterExtension"
            raDisplayName="HornetQ Resource Adapter - Topic">
      </jcaRAExtension>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="org.switchyard.tools.ui.editor.refactoring.SwitchYardDeleteParticipant"
            id="org.switchyard.tools.ui.editor.deleteParticipant"
            name="SwitchYard Delete Participant">
         <enablement>
            <with
                  variable="element">
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.contentTypeId"
                        value="org.switchyard.tools.ui.editor.content-type.xml">
                  </test>
               </and>
            </with></enablement>
      </deleteParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.switchyard.tools.ui.editor.refactoring.SwitchYardRenameParticipant"
            id="org.switchyard.tools.ui.editor.renameParticipant"
            name="SwitchYard Rename Participant">
         <enablement>
            <with
                  variable="element">
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.contentTypeId"
                        value="org.switchyard.tools.ui.editor.content-type.xml">
                  </test>
               </and>
            </with></enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="org.switchyard.tools.ui.editor.refactoring.SwitchYardMoveParticipant"
            id="org.switchyard.tools.ui.editor.moveParticipant"
            name="SwitchYard Move Participant">
         <enablement>
            <with
                  variable="element">
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.contentTypeId"
                        value="org.switchyard.tools.ui.editor.content-type.xml">
                  </test>
               </and>
            </with></enablement>
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.copyParticipants">
      <copyParticipant
            class="org.switchyard.tools.ui.editor.refactoring.SwitchYardCopyParticipant"
            id="org.switchyard.tools.ui.editor.copyParticipant"
            name="SwitchYard Copy Participant"
            processOnCancel="false">
         <enablement>
            <with
                  variable="element">
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.contentTypeId"
                        value="org.switchyard.tools.ui.editor.content-type.xml">
                  </test>
               </and>
            </with></enablement>
      </copyParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.switchyard.tools.ui.editor.category"
            composite="false"
            contentFile="cheatsheets/tutorial.xml"
            id="org.switchyard.tools.ui.editor.cheatsheet1"
            name="SwitchYard Editor Cheatsheet">
         <description>
            This cheat sheet introduces the basic building blocks of SwitchYard applications from an empty application to a complete example.
         </description>
      </cheatsheet>
      <category
            id="org.switchyard.tools.ui.editor.category"
            name="SwitchYard">
      </category>
   </extension>
</plugin>
