<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.bpmn2.modeler.runtime">

		<propertyTab
			id="org.switchyard.tools.ui.bpmn2.switchYardServiceTask.tab"
            runtimeId="org.jboss.runtime.jbpm5"
			replaceTab="bpmn2.jbpm.task.tab org.eclipse.bpmn2.modeler.task.tab"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			class="org.switchyard.tools.ui.bpmn2.SwitchYardServiceTaskPropertySection"
			label="SwitchYard Service Task">
		</propertyTab>

      <customTask
            description="This task represents the invocation of a SwitchYard service."
            featureContainer="org.switchyard.tools.ui.bpmn2.SwitchYardServiceTaskFeatureContainer"
            id="org.switchyard.tools.ui.bpmn2.switchYardServiceTask"
            name="SwitchYard Service"
            icon="switchyard_task.png"
            propertyTabs="org.switchyard.tools.ui.bpmn2.switchYardServiceTask.tab"
            category="Switchyard"
            runtimeId="org.jboss.runtime.jbpm5"
            type="Task">

			<property
         name="taskName"
         value="SwitchYard Service">
			</property>
			<property
         name="icon"
         value="org.switchyard.tools.ui.editor.SwitchYard.16">
			</property>

			<property name="ioSpecification">
				<value>
					<property name="dataInputs">
						<value>
							<property
             description="The name of the SwitchYard service to be invoked."
             name="name"
             value="ServiceName"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property
             description="The name of the operation to be invoked on the SwitchYard service."
             name="name"
             value="ServiceOperationName"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property
             description="The name of the fault result to be invoked on the SwitchYard service."
             name="name"
             value="FaultResultName"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property
             description="The name of the fault event type to be invoked on the SwitchYard service."
             name="name"
             value="FaultSignalId"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property
             description="The action to take when a fault occurs.  Acceptbable values are: abort, complete or &lt;unset&gt;."
             name="name"
             value="FaultWorkItemAction"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property
             description="This is used to store the input message to be passed to the SwitchYard servce.  It must match the &quot;MessageContentInName&quot; property."
             name="name"
             value="messageContentIn"/>
						</value>
					</property>

					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#0"/>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#1"/>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#2"/>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#3"/>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#4"/>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#5"/>
						</value>
					</property>
					<property name="outputSets">
					</property>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#0"/>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#1"/>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#2"/>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#3"/>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#4"/>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#5"/>
				</value>
			</property>
      </customTask>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	    <propertyTabs contributorId="org.switchyard.tools.ui.editor.diagram.PropertyContributor">
        <propertyTab
              afterTab="switchyard.implementation.bpm.tab"
              category="SwitchyardSCA"
              id="switchyard.implementation.bpm.tab"
              label="Implementation">
        </propertyTab>
        </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections contributorId="org.switchyard.tools.ui.editor.diagram.PropertyContributor">
         <propertySection
               class="org.switchyard.tools.ui.bpmn2.component.BPMImplementationPropertySection"
               filter="org.switchyard.tools.ui.bpmn2.component.BPMImplementationPropertySectionFilter"
               id="switchyard.implementation.bpm.tab.details"
               tab="switchyard.implementation.bpm.tab">
         </propertySection>
         </propertySections>
   </extension>
   <extension
         point="org.switchyard.tools.ui.switchYardComponent">
     <!--
     <component
           id="org.switchyard.components:switchyard-component-bpm"
           name="BPM (jBPM)"
           scannerClass="org.switchyard.component.bpm.config.model.BPMSwitchYardScanner">
     -->
     <component
           category="implementation"
           id="org.switchyard.components:switchyard-component-bpm"
           name="BPM (jBPM)">
        <description>
           Provides support for BPM based service implementations.
        </description>
        <dependency>
           <groupId>org.switchyard.components</groupId>
           <artifactId>switchyard-component-bpm</artifactId>
        </dependency>
     </component>
   </extension>
   <extension
         point="org.switchyard.tools.ui.editor.editorExtension">
    <componentExtension
          class="org.switchyard.tools.ui.bpmn2.component.BPMComponentTypeExtension">
    </componentExtension>
   </extension>
</plugin>
